 body{
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      color: #333;
      padding: 20px;
      line-height: 1.6;
    }
    .container {
      max-width: 800px;
      background: #fff;
      padding: 30px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 10px;
    }
    h1{
      color:#145b7e
    }
    h2 {
       color: #0071aa;
    }
    ul {
      padding-left: 20px;
    }
    .section {
      margin-bottom: 25px;
    }
    .contact a {
      text-decoration: none;
      color: #004466;
    }

    nav {
      text-align: center;
      margin-bottom: 30px;
    }
    nav a {
      margin: 0 10px;
      text-decoration: none;
      color: #2980b9;
    } 

    .Education-button{
      background-color: #0071aa;
      border: none;
      border-radius: 3px;
      margin-right: 5px;
      height: 36px;
      width: 90px;
      cursor: pointer;
      transition: opacity 0.15s;
      a{color: white;}
    }

    .Education-button:hover{
        opacity: 0.8;    
        }

    .Education-button:active{
        opacity: 0.5;
        }

    .SoftSkills-button{
      background-color: #0071aa;
      border: none;
      border-radius: 3px;
      margin-right: 5px;
      height: 36px;
      width: 90px;
      cursor: pointer;
      transition: opacity 0.15s;
      a{color: white;}
    }

    .SoftSkills-button:hover{
        opacity: 0.8;    
        }

    .SoftSkills-button:active{
        opacity: 0.5;
        }

    .Project-button{
      background-color: #0071aa;
      border: none;
      border-radius: 3px;
      margin-right: 5px;
      height: 36px;
      width: 90px;
      cursor: pointer;
      transition: opacity 0.15s;
      a{color: white;}
    }

    .Project-button:hover{
        opacity: 0.8;    
        }

    .Project-button:active{
        opacity: 0.5;
        }

    .TechnicalSkills-button{
      background-color: #0071aa;
      border: none;
      border-radius: 3px;
      margin-right: 5px;
      height: 36px;
      width: 125px;
      cursor: pointer;
      transition: opacity 0.15s;
      a{color: white;}
    }

    .TechnicalSkills-button:hover{
        opacity: 0.8;    
        }

    .TechnicalSkills-button:active{
        opacity: 0.5;
        }

    .Certification-button{
      background-color: #0071aa;
      border: none;
      border-radius: 3px;
      margin-right: 5px;
      height: 36px;
      width: 100px;
      cursor: pointer;
      transition: opacity 0.15s;
      a{ color:white;}
    }

    .Certification-button:hover{
        opacity: 0.8;    
        }

    .Certification-button:active{
        opacity: 0.5;
        }

    